<h1>Testing MongoDB</h1>

<div>Test</div>

<div>
  <button class="button" phx-click="activate">
    Test
  </button>
</div>

<div>
  <button class="button" phx-click="reactivate">
    Test retaking data
  </button>
</div>

<div>
  <%= @result %>
</div>
